{% extends '../shop/base.html' %}

{% block title %}Category {% endblock %}

{% block main %}
    <section class="sale">
        <div class="container">
            <h3 class="sale__title">
                Fruits and Vegetables
            </h3>
            <a href="/avacado/" class="category__item-link">
            <div class="sale__items">
                    <div class="sale__item">
                        <div class="container-img">
                            <img src="../../../static/shop/images/avacado.png" alt="" class="sale__item-img">
                        </div>
                        <h4 class="sale__item-title">
                            Avacado
                        </h4>
                        <p class="sale__item-new-price">
                            99.00 P
                        </p>
                        <div class="sale__item-old-price">
                            126.00 P
                        </div>
                    </div>
                    <div class="sale__item">
                        <div class="container-img">
                            <img src="../../../static/shop/images/pngwing.com (1).png" alt="" class="sale__item-img">
                        </div>
                        <h4 class="sale__item-title">
                            Banana
                        </h4>
                        <p class="sale__item-new-price">
                            141.00 P
                        </p>
                        <div class="sale__item-old-price">
                            199.00 P
                        </div>
                    </div>
                    <div class="sale__item">
                        <div class="container-img">
                            <img src="../../../static/shop/images/pngwing.com (2).png" alt="" class="sale__item-img">
                        </div>
                        <h4 class="sale__item-title">
                            Carrot
                        </h4>
                        <p class="sale__item-new-price">
                            26.00 P
                        </p>
                    </div>
                    <div class="sale__item">
                        <div class="container-img">
                            <img src="../../../static/shop/images/pngwing.com (4).png" alt="" class="sale__item-img">
                        </div>
                        <h4 class="sale__item-title">
                            Apple
                        </h4>
                        <p class="sale__item-new-price">
                            42.00 P

                        </p>
                        <div class="sale__item-old-price">
                            80.00 P
                        </div>
                    </div>
            </div>

            <div class="sale__items">
                <div class="sale__item">
                    <div class="container-img">
                        <img src="../../../static/shop/images/pngwing.com (5).png" alt="" class="sale__item-img">
                    </div>
                    <h4 class="sale__item-title">
                        Orange
                    </h4>
                    <p class="sale__item-new-price">
                        99.00 P
                    </p>
                    <div class="sale__item-old-price">
                        126.00 P
                    </div>
                </div>
                <div class="sale__item">
                    <div class="container-img">
                        <img src="../../../static/shop/images/pngwing.com (6).png" alt="" class="sale__item-img">
                    </div>
                    <h4 class="sale__item-title">
                        Tomato
                    </h4>
                    <p class="sale__item-new-price">
                        226.00
                    </p>
                </div>
                <div class="sale__item">
                    <div class="container-img">
                        <img src="../../../static/shop/images/pngwing.com (7).png" alt="" class="sale__item-img">
                    </div>
                    <h4 class="sale__item-title">
                        Mango
                    </h4>
                    <p class="sale__item-new-price">
                        356.00
                    </p>
                </div>
                <div class="sale__item">
                    <div class="container-img">
                        <img src="../../../static/shop/images/pngwing.com (3).png" alt="" class="sale__item-img">
                    </div>
                    <h4 class="sale__item-title">
                        Lemon
                    </h4>
                    <p class="sale__item-new-price">
                        78.00
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

