{% extends 'shop/base.html' %}
{% load widget_tweaks %}

{% block title %}Change you password{% endblock %}

{% block main %}

    <form action="." method="post" class="form">
        <h1 class="form__title">Change you password</h1>
        <p class="form__description">
            Change your password using the form below.
        </p>
        {{ form.old_password.errors }}
        {% render_field form.old_password class="form__username" placeholder=form.old_password.label %}

        {{ form.new_password1.errors }}
        {% render_field form.new_password1 class="form__username" placeholder=form.new_password1.label %}

        {{ form.new_password2.errors }}
        {% render_field form.new_password2 class="form__username" placeholder=form.new_password2.label %}
        {% csrf_token %}
        <input type="submit" value="Change" class="btn-from-login">

    </form>
{% endblock %}