{% extends 'shop/base.html' %}

{% block title %}

{% endblock %}

{% block main %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        <h4 class="form__title">
            Login
        </h4>
        <p class="form__description">
            Please login using account detail bellow.
        </p>
        {{ form.username }}
        <br>
        {{ form.password }}
        <a href="#" class="form__forgot-password">
            Forgot your password?
        </a>
        <button class="btn-from-login" type="submit">Send</button>
        <a href="#" class="form__create-account">
            Don’t have an Account?Create account
        </a>
    </form>
{% endblock %}