{% extends 'shop/base.html' %}
{% load widget_tweaks %}

{% block title %}Reset you password{% endblock %}

{% block main %}

    <form action="." method="post" class="form">
        <h1 class="form__title">Reset you password</h1>
        <p class="form__description">
            Reset your password using the form below.
        </p>
        {{ form.email.errors }}
        {% render_field form.email class="form__username" placeholder=form.email.label %}

        {% csrf_token %}
        <input type="submit" value="Reset" class="btn-from-login">
        <a href="{% url 'customer_register' %}" class="form__create-account">
            Don’t have an Account? Create account
        </a>

    </form>
{% endblock %}