<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="contact">
                <h1 class="footer__logo">
                    Hekto
                </h1>
                <div class="footer__email-form">
                    <input type="text" class="footer__email" placeholder="Enter Email Address">
                    <button class="footer__email-btn">Send</button>
                </div>
                <div class="footer__contact-info">
                    Contact Info
                </div>
                <p class="footer__contact-address">
                    17 Princess Road, London, Greater London NW1 8JR, UK
                </p>
            </div>

            <div class="categories">
                <h3 class="category__title title">
                    Catagories
                </h3>
                <a href="#" class="category__link">
                    Laptops & Computers
                </a>
                <a href="#" class="category__link">
                    Cameras & Photography
                </a>
                <a href="#" class="category__link">
                    Smart Phones & Tablets
                </a>
                <a href="#" class="category__link">
                    Video Games & Consoles
                </a>
                <a href="#" class="category__link">
                    Waterproof Headphones
                </a>
            </div>

            <div class="customer-care">
                <h3 class="category__title title">
                    Customer Care
                </h3>
                <a href="#" class="category__link">
                    My Account
                </a>
                <a href="#" class="category__link">
                    Discount
                </a>
                <a href="#" class="category__link">
                    Returns
                </a>
                <a href="#" class="category__link">
                    Orders History
                </a>
                <a href="#" class="category__link">
                    Order Tracking
                </a>
            </div>

            <div class="pages">
                <h3 class="category__title title">
                    Pages
                </h3>
                <a href="#" class="category__link">
                    Blog
                </a>
                <a href="#" class="category__link">
                    Browse the Shop
                </a>
                <a href="#" class="category__link">
                    Category
                </a>
                <a href="#" class="category__link">
                    Pre-Built Pages
                </a>
                <a href="#" class="category__link">
                    Visual Composer Elements
                </a>
                <a href="#" class="category__link">
                    WooCommerce Pages
                </a>
            </div>
        </div>
    </div>
</footer>
<section class="footer__rigts">
    <div class="container">
        <div class="footer__rights-inner">
            <p class="footer__rights-text">
                ©Webecy - All Rights Reserved
            </p>
            <div class="footer__social">
                <a href="#">
                    <img src="images/facebook.svg" alt="" class="social__facebook">
                </a>
                <a href="#">
                    <img src="images/instagram.svg" alt="" class="social__instagram">
                </a>
                <a href="#">
                    <img src="images/twitter.svg" alt="" class="social__twitter">
                </a>
            </div>
        </div>
    </div>
</section>
