<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" href="../../static/images/icons8-shop-60.png" rel="shortcut icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Lato&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>{% block title %}Base{% endblock %}</title>
</head>

<body>

<!-- Header-page -->
{% block header %}
    {% include 'shop/include/header.html' %}
{% endblock %}

<!-- Main-page -->
{% block main %}

{% endblock %}

<!-- Footer-page -->

{% block footer %}
    {% include 'shop/include/footer.html' %}
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>

</html>