{% extends 'shop/base.html' %}

{% block title %}
    Hekto Best shop
{% endblock %}

{% block main %}
    <main class="main">
        <div class="main__inner">
            <div class="container">
                <div class="main__sliders">
                    <div class="main__slider-item">
                        <h3 class="main__slider-text">Best Furniture For Your Castle....</h3>
                        <h1 class="main__slider-title">
                            New Furniture Collection Trends in 2022
                        </h1>
                        <p class="main__slider-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing
                            in phasellus non in justo.
                        </p>
                        <a href="#" class="main__slider-link">Shop Now</a>
                        <img src="../../../static/images/sofa.png" alt="" class="main__slider-sofa">
                    </div>
                </div>
            </div>
        </div>

        <section class="featured-products">
            <div class="container">
                <h2 class="featured-products__title">
                    Featured Products
                </h2>
                <div class="featured-products__items">
                    <div class="featured-product__item">
                        <div class="img-container">
                            <img src="../../../static/images/chair 3.png" alt="" class="featured-products__img">
                            <a href="#" class="featured-product__item-detail">
                                View Details
                            </a>
                        </div>

                        <div class="featured-product__item-colors">
                            <span class="color-1"></span>
                            <span class="color-2"></span>
                            <span class="color-3"></span>
                        </div>
                        <p class="featured-product__item-title">
                            Cantilever chair
                        </p>
                        <p class="featured-product__item-code">
                            Code - Y523201
                        </p>
                        <p class="featured-product__item-price">
                            $42.00
                        </p>

                    </div>

                    <div class="featured-product__item">
                        <div class="img-container">
                            <img src="../../../static/images/chair 1.png" alt="" class="featured-products__img">
                            <a href="#" class="featured-product__item-detail">
                                View Details
                            </a>
                        </div>
                        <div class="featured-product__item-colors">
                            <span class="color-1"></span>
                            <span class="color-2"></span>
                            <span class="color-3"></span>
                        </div>
                        <p class="featured-product__item-title">
                            Cantilever chair
                        </p>
                        <p class="featured-product__item-code">
                            Code - Y523201
                        </p>
                        <p class="featured-product__item-price">
                            $42.00
                        </p>
                    </div>

                    <div class="featured-product__item">
                        <div class="img-container">
                            <img src="../../../static/images/chair 4.png" alt="" class="featured-products__img">
                            <a href="#" class="featured-product__item-detail">
                                View Details
                            </a>
                        </div>
                        <div class="featured-product__item-colors">
                            <span class="color-1"></span>
                            <span class="color-2"></span>
                            <span class="color-3"></span>
                        </div>
                        <p class="featured-product__item-title">
                            Cantilever chair
                        </p>
                        <p class="featured-product__item-code">
                            Code - Y523201
                        </p>
                        <p class="featured-product__item-price">
                            $42.00
                        </p>
                    </div>

                    <div class="featured-product__item">
                        <div class="img-container">
                            <img src="../../../static/images/chair 2.png" alt="" class="featured-products__img">
                            <a href="#" class="featured-product__item-detail">
                                View Details
                            </a>
                        </div>
                        <div class="featured-product__item-colors">
                            <span class="color-1"></span>
                            <span class="color-2"></span>
                            <span class="color-3"></span>
                        </div>
                        <p class="featured-product__item-title">
                            Cantilever chair
                        </p>
                        <p class="featured-product__item-code">
                            Code - Y523201
                        </p>
                        <p class="featured-product__item-price">
                            $42.00
                        </p>
                    </div>

                </div>
            </div>
        </section>

        <!-- Leatest Products -->

        <section class="leatest-products">
            <div class="container">
                <h2 class="leatest-products__title">
                    Leatest Products
                </h2>
                <div class="leatest-products__offer">
                    <a href="#" class="leatest-products__offer-link">New Arrival</a>
                    <a href="#" class="leatest-products__offer-link">Best Seller</a>
                    <a href="#" class="leatest-products__offer-link">Featured</a>
                    <a href="#" class="leatest-products__offer-link">Special Offer</a>
                </div>

                <div class="leatest-products__items">
                    <div class="leatest-products__item">
                        <div class="leatest-products__item-container">
                            <img src="../../../static/images/chair 8.png" alt="" class="leatest-products__item-img">
                        </div>
                        <div class="leatest-products__item-inner">
                            <h3 class="leatest-products__item-title">
                                Comfort Handy Craft
                            </h3>
                            <div class="leatest-products__item-price">
                                <p class="new-price">
                                    $42.00
                                </p>
                                <p class="old-price">
                                    $65.00
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="leatest-products__item">
                        <div class="leatest-products__item-container">
                            <img src="../../../static/images/chair 5.png" alt="" class="leatest-products__item-img">
                        </div>
                        <div class="leatest-products__item-inner">
                            <h3 class="leatest-products__item-title">
                                Comfort Handy Craft
                            </h3>
                            <div class="leatest-products__item-price">
                                <p class="new-price">
                                    $42.00
                                </p>
                                <p class="old-price">
                                    $65.00
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="leatest-products__item">
                        <div class="leatest-products__item-container">
                            <img src="../../../static/images/chair 3.png" alt="" class="leatest-products__item-img">
                        </div>
                        <div class="leatest-products__item-inner">
                            <h3 class="leatest-products__item-title">
                                Comfort Handy Craft
                            </h3>
                            <div class="leatest-products__item-price">
                                <p class="new-price">
                                    $42.00
                                </p>
                                <p class="old-price">
                                    $65.00
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="leatest-products__item">
                        <div class="leatest-products__item-container">
                            <img src="../../../static/images/chair 6.png" alt="" class="leatest-products__item-img">
                        </div>
                        <div class="leatest-products__item-inner">
                            <h3 class="leatest-products__item-title">
                                Comfort Handy Craft
                            </h3>
                            <div class="leatest-products__item-price">
                                <p class="new-price">
                                    $42.00
                                </p>
                                <p class="old-price">
                                    $65.00
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="leatest-products__item">
                        <div class="leatest-products__item-container">
                            <img src="../../../static/images/chair 7.png" alt="" class="leatest-products__item-img">
                        </div>
                        <div class="leatest-products__item-inner">
                            <h3 class="leatest-products__item-title">
                                Comfort Handy Craft
                            </h3>
                            <div class="leatest-products__item-price">
                                <p class="new-price">
                                    $42.00
                                </p>
                                <p class="old-price">
                                    $65.00
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="leatest-products__item">
                        <div class="leatest-products__item-container">
                            <img src="../../../static/images/chair 2.png" alt="" class="leatest-products__item-img">
                        </div>
                        <div class="leatest-products__item-inner">
                            <h3 class="leatest-products__item-title">
                                Comfort Handy Craft
                            </h3>
                            <div class="leatest-products__item-price">
                                <p class="new-price">
                                    $42.00
                                </p>
                                <p class="old-price">
                                    $65.00
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- What Shopex Offer! -->

        <section class="offer">
            <div class="container">
                <div class="offer__title">
                    What Shopex Offer!
                </div>
                <div class="offer__items">
                    <div class="offer__item">
                        <img src="../../../static/images/free-delivery 1.svg" alt="" class="offer__item-img">
                        <h4 class="offer__item-title">
                            24/7 Support
                        </h4>
                        <p class="offer__item-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.
                        </p>
                    </div>

                    <div class="offer__item">
                        <img src="../../../static/images/cashback 1.svg" alt="" class="offer__item-img">
                        <h4 class="offer__item-title">
                            24/7 Support
                        </h4>
                        <p class="offer__item-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.
                        </p>
                    </div>

                    <div class="offer__item">
                        <img src="../../../static/images/premium-quality 1.svg" alt="" class="offer__item-img">
                        <h4 class="offer__item-title">
                            24/7 Support
                        </h4>
                        <p class="offer__item-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.
                        </p>
                    </div>

                    <div class="offer__item">
                        <img src="../../../static/images/24-hours-support 1.svg" alt="" class="offer__item-img">
                        <h4 class="offer__item-title">
                            24/7 Support
                        </h4>
                        <p class="offer__item-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Trending Products" -->

        <section class="trending-products">
            <div class="trending-products__inner">
                <div class="container">
                    <div class="trending-products__item">
                        <img src="../../../static/images/sofa2.png" alt="" class="trending-products__img">
                        <div class="trending-products__item-text">
                            <h3 class="trending-products__title">
                                Unique Features Of leatest &
                                Trending Products
                            </h3>
                            <p class="trending-products__item-specification-1">
                                All frames constructed with hardwood solids and laminates
                            </p>
                            <p class="trending-products__item-specification-2">
                                Reinforced with double wood dowels, glue, screw - nails corner
                                blocks and machine nails
                            </p>
                            <p class="trending-products__item-specification-3">
                                Arms, backs and seats are structurally reinforced
                            </p>

                            <a href="#" class="trending-products__item-link">
                                Add To Cart
                            </a>
                            <p class="trending-products__item-article">
                                B&B Italian Sofa
                                <br>
                                $32.00
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sale -->

        <section class="sale">
            <div class="container">
                <h3 class="sale__title">
                    Trending Products
                </h3>

                <div class="sale__items">
                    <div class="sale__item">
                        <div class="container-img">
                            <img src="../../../static/images/chair 10.png" alt="" class="sale__item-img">
                        </div>
                        <h4 class="sale__item-title">
                            Cantilever chair
                        </h4>
                        <p class="sale__item-new-price">
                            $26.00
                        </p>
                        <div class="sale__item-old-price">
                            $42.00
                        </div>
                    </div>
                    <div class="sale__item">
                        <div class="container-img">
                            <img src="../../../static/images/chair 12.png" alt="" class="sale__item-img">
                        </div>
                        <h4 class="sale__item-title">
                            Cantilever chair
                        </h4>
                        <p class="sale__item-new-price">
                            $26.00
                        </p>
                        <div class="sale__item-old-price">
                            $42.00
                        </div>
                    </div>
                    <div class="sale__item">
                        <div class="container-img">
                            <img src="../../../static/images/chair 11.png" alt="" class="sale__item-img">
                        </div>
                        <h4 class="sale__item-title">
                            Cantilever chair
                        </h4>
                        <p class="sale__item-new-price">
                            $26.00
                        </p>
                        <div class="sale__item-old-price">
                            $42.00
                        </div>
                    </div>
                    <div class="sale__item">
                        <div class="container-img">
                            <img src="../../../static/images/chair 7.png" alt="" class="sale__item-img">
                        </div>
                        <h4 class="sale__item-title">
                            Cantilever chair
                        </h4>
                        <p class="sale__item-new-price">
                            $26.00
                        </p>
                        <div class="sale__item-old-price">
                            $42.00
                        </div>
                    </div>
                </div>

                <div class="sale__items-big">
                    <div class="sale__item-big">
                        <h4 class="sale__item-title-big">
                            23% off in all products
                        </h4>
                        <a href="#" class="sale__item-link-big">Shop Now</a>
                        <div class="container-img-big">
                            <img src="../../../static/images/clock.png" alt="" class="sale__item-img-big">
                        </div>
                    </div>
                    <div class="sale__item-big cllection">
                        <h4 class="sale__item-title-big">
                            23% off in all products
                        </h4>
                        <a href="#" class="sale__item-link-big">View Collection</a>
                        <div class="container-img-big">
                            <img src="../../../static/images/closet.png" alt="" class="sale__item-img-big">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Subcribe -->

        <section class="subscribe">
            <div class="subscribe__inner">
                <div class="subscribe__title">
                    Get Leatest Update By Subscribe 0ur Newslater
                </div>
                <a href="#" class="subscribe__link">
                    Subscribe
                </a>
            </div>
        </section>

        <!-- Cooperation -->

        <section class="cooperation">
            <img src="../../../static/images/company.jpg" alt="" class="cooperation-img">
        </section>

        <section class="blog">
            <div class="container">
                <h2 class="blog__title">
                    Leatest Blog
                </h2>
                <div class="blog__items">
                    <div class="blog__item">
                        <img src="../../../static/images/iner1.jpg" alt="" class="blog__item-img">
                        <div class="blog__item-author">
                            SaberAli
                        </div>
                        <div class="blog__item-date">
                            21 August,2020
                        </div>
                        <h4 class="blog__item-title">
                            Top esssential Trends in 2021
                        </h4>
                        <div class="blog__item-description">
                            More off this less hello samlande lied much
                            over tightly circa horse taped mightly
                        </div>
                        <a class="blog__item-link">
                            Read More
                        </a>
                    </div>
                    <div class="blog__item">
                        <img src="../../../static/images/iner2.jpg" alt="" class="blog__item-img">
                        <div class="blog__item-author">
                            SaberAli
                        </div>
                        <div class="blog__item-date">
                            21 August,2020
                        </div>
                        <h4 class="blog__item-title">
                            Top esssential Trends in 2021
                        </h4>
                        <div class="blog__item-description">
                            More off this less hello samlande lied much
                            over tightly circa horse taped mightly
                        </div>
                        <a class="blog__item-link">
                            Read More
                        </a>
                    </div>
                    <div class="blog__item">
                        <img src="../../../static/images/iner3.jpg" alt="" class="blog__item-img">
                        <div class="blog__item-author">
                            SaberAli
                        </div>
                        <div class="blog__item-date">
                            21 August,2020
                        </div>
                        <h4 class="blog__item-title">
                            Top esssential Trends in 2021
                        </h4>
                        <div class="blog__item-description">
                            More off this less hello samlande lied much
                            over tightly circa horse taped mightly
                        </div>
                        <a class="blog__item-link">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}